<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.dao.IBoatDAO">
    <resultMap id="boatResultMap" type="com.solvd.navigator.model.Boat">
        <id property="id" column="id"/>
        <result property="vehicleNumber" column="boat_number"/>
        <result property="cost" column="cost"/>
        <association property="driver" javaType="com.solvd.navigator.model.Person">
            <id property="id" column="driver_id"/>
            <result property="name" column="driver_name"/>
            <association property="driverLicense" javaType="com.solvd.navigator.model.DriverLicense">
                <id property="id" column="driver_license_id"/>
                <result property="number" column="driver_license_number"/>
            </association>
        </association>
    </resultMap>

    <select id="getById" parameterType="long" resultMap="boatResultMap">
        SELECT B.id as id,
               B.boat_number as boat_number,
               B.cost as cost,
               D.id as driver_id,
               D.name as driver_name,
               DL.id as driver_license_id,
               DL.number as driver_license_number
        FROM Boats B
            JOIN Persons D ON B.driver_id= D.id
            JOIN Driver_License DL ON D.driver_license_id = DL.id
        WHERE B.id = #{id};
    </select>

    <select id="getAll" resultMap="boatResultMap">
        SELECT B.id AS id,
               B.boat_number AS boat_number,
               B.cost AS cost,
               D.id AS driver_id,
               D.name AS driver_name,
               DL.id as driver_license_id,
               DL.number as driver_license_number
        FROM Boats B
            JOIN Persons D ON B.driver_id = D.id
            JOIN Driver_License DL ON D.driver_license_id = DL.id
    </select>

    <insert id="insert" parameterType="com.solvd.navigator.model.Boat">
        INSERT INTO Boats (id, boat_number, cost, driver_id) VALUES (#{id}, #{boatNumber}, #{cost}, #{driver.id})
    </insert>

    <update id="update" parameterType="com.solvd.navigator.model.Boat">
        UPDATE Boats SET boat_number = #{boatNumber}, cost = #{cost}, driver_id = #{driver.id} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM Boats WHERE id = #{id}
    </delete>
</mapper>