<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.dao.ILocationDAO">
    <resultMap id="locationResultMap" type="com.solvd.navigator.model.Location">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coordinate" column="coordinates" javaType="com.solvd.navigator.model.Coordinate" typeHandler="com.solvd.navigator.typehandlers.PointHandler" />
    </resultMap>

    <select id="getById" parameterType="long" resultMap="locationResultMap">
        SELECT id, name, coordinates FROM Locations WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="locationResultMap">
        SELECT id, name, coordinates FROM Locations
    </select>

    <insert id="insert" parameterType="com.solvd.navigator.model.Location">
        INSERT INTO Locations (id, name, coordinates) VALUES (#{id}, #{name}, POINT(#{coordinate.latitude}, #{coordinate.longitude}))
    </insert>

    <update id="update" parameterType="com.solvd.navigator.model.Location">
        UPDATE Locations SET name = #{name}, coordinates = POINT(#{coordinate.latitude}, #{coordinate.longitude})
		WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM Locations WHERE id = #{id}
    </delete>
</mapper>