<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.dao.ILocationDAO">
    <resultMap id="locationResultMap" type="com.solvd.navigator.model.Location">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getById" parameterType="long" resultMap="locationResultMap">
        SELECT * FROM Locations WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="locationResultMap">
        SELECT * FROM Locations
    </select>

    <insert id="insert" parameterType="com.solvd.navigator.model.Location">
        INSERT INTO Locations (id, name) VALUES (#{id}, #{name})
    </insert>

    <update id="update" parameterType="com.solvd.navigator.model.Location">
        UPDATE Locations SET name = #{name} WHERE id = #{id}
    </update>
</mapper>