<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.dao.IPlaneDAO">
    <resultMap id="planeResultMap" type="com.solvd.navigator.model.Plane">
        <id property="id" column="id"/>
        <result property="planeNumber" column="plane_number"/>
        <result property="cost" column="cost"/>
        <association property="driver" javaType="com.solvd.navigator.model.Person">
            <id property="id" column="driver_id"/>
            <result property="name" column="driver_name"/>
            <association property="driverLicense" javaType="com.solvd.navigator.model.DriverLicense">
                <id property="id" column="driver_license_id"/>
                <result property="number" column="driver_license_number"/>
            </association>
        </association>
    </resultMap>

    <select id="getById" parameterType="long" resultMap="planeResultMap">
        SELECT P.id as id,
               P.plane_number as plane_number,
               P.cost as cost,
               D.id as driver_id,
               D.name as driver_name
        FROM Planes P
                 JOIN Drivers D ON P.driver_id= D.id
        WHERE P.id = #{id};
    </select>

    <select id="getAll" resultMap="planeResultMap">
        SELECT P.id AS id,
               P.plane_number AS plane_number,
               P.cost AS cost,
               D.id AS driver_id,
               D.name AS driver_name
        FROM Planes P
                 JOIN Drivers D ON P.driver_id = D.id
    </select>

    <insert id="insert" parameterType="com.solvd.navigator.model.Plane">
        INSERT INTO Planes (id, plane_number, cost, driver_id) VALUES (#{id}, #{planeNumber}, #{cost}, #{driver.id})
    </insert>

    <update id="update" parameterType="com.solvd.navigator.model.Plane">
        UPDATE Planes SET plane_number = #{planeNumber}, cost = #{cost}, driver_id = #{driver.id} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM Planes WHERE id = #{id}
    </delete>
</mapper>