<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigator.dao.ITransportationTypeDAO">
    <resultMap id="transportationTypeResultMap" type="com.solvd.navigator.model.TransportationType">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
    </resultMap>

    <select id="getById" parameterType="long" resultMap="transportationTypeResultMap">
        SELECT * FROM Transportation_Type WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="transportationTypeResultMap">
        SELECT * FROM Transportation_Type
    </select>

    <insert id="insert" parameterType="com.solvd.navigator.model.TransportationType">
        INSERT INTO Transportation_Type (id, type) VALUES (#{id}, #{type})
    </insert>

    <update id="update" parameterType="com.solvd.navigator.model.TransportationType">
        UPDATE Transportation_Type SET type = #{type} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM Transportation_Type WHERE id = #{id}
    </delete>
</mapper>